@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(201, 201, 201);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(180, 180, 180);
}

.svg-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}


main{
     display: flex;
}

#contacts{
    width: 30%;
    height: 100vh;
    border-right: solid 1px rgb(211, 211, 211);
    background-color: rgb(255, 255, 255);
}

#contacts nav{
/*  display: flex; */
    width: 100%;
    padding: 7px;
    background-color: rgb(230, 230, 250);
}

#contacts nav button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 15px;
    background-color: white;
}

#contacts nav #online{
    display: flex;
    padding: 5px;
    width: auto;
}


#contacts nav .nav-side{
    display: inline;
    float: right;
}

#contacts nav .nav-side button{
    background-color: transparent;
}


/* #contacts .contacts-cont::-webkit-scrollbar{
    width: 0;
} */

#contacts .contacts-cont{
    height: calc(100vh - 54px);
    overflow-y: auto;
}
 
.contact{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 10px;
    border-bottom: solid .5px lavender;
}

.sub-contact{
    padding-left: 10px;
}

.sub-contact p{
    margin: 0;
    line-height: normal;
}

.sub-contact :nth-child(1){
    font-size: 17px;
    font-weight: bold;
}

.sub-contact :nth-child(2){
    color: rgb(100, 100, 100);
}

.contact img{
    border: none;
    border-radius: 25px;
    object-fit: cover;
}


#chat-area{
    display: block;
    width: 70%;
    height: 100vh;
    background-color: #fff;
}

.chat-content-cont{
    display: flex;
    justify-content: right;
}

#chat-content{
    width: 80%;
    padding: 10px;
    height: calc(100vh - 54px);
    overflow-y: auto;
    scroll-behavior: smooth;
}

#chat-area .input-area #msg-form{
    width: 100%;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lavender;
}


#chat-area .input-area #msg-form input{
    width: 70%;
    height: 40px;
    padding: 5px 10px;
    font-size: 17px;
    border: none;
    outline: none;
    border-radius: 10px;
}

#chat-area .input-area #msg-form button{
    margin: 0 10px;
    fill:  #3c3c3c;
}

#chat-area .input-area #msg-form label{
    margin-right: 7px;
    vertical-align: middle;
    cursor: pointer;
}

#chat-area .input-area #msg-form :nth-child(4){
    transform: rotateZ(-45deg);
}

.msg-box-cont{
    display: flex;
    transform-origin: top left;
    animation: apear .4s;
}

.triangle ,.triangle-right{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent; 
    border-top: 15px solid rgb(240, 240, 240);
    z-index: 0;
  }

.triangle-right{
    border-left: 0px solid transparent;
    border-right: 15px solid transparent; 
    border-top: 15px solid #aeaaf0;
    
}


.message{
    padding: 5px 10px;
    padding-top: 2px;
    margin-bottom: 10px;
    min-width: 100px;
    max-width: 300px;
    border: none;
/*    box-shadow: 0 2px 5px rgba(70, 70, 70, 0.5);*/
    background-color: #fff;
    word-wrap: break-word;
}

@keyframes apear {

    0%{
        transform: scale(0.3);
    }

    70%{
        transform: scale(1.05);
    }

    100%{
        transform: scale(1);
    }
    
}

.name{
    font-weight: bold;
/*    margin-bottom: 5px;*/
    color: rgb(74, 15, 60);
}

.name span{
    margin-left: 5px;
    margin-top: 4px;
    float: right;
    font-size: 12px;
    font-weight: normal;
    color: rgb(20, 20, 20, 1.0);
}

.msg-txt{
    color: rgb(50, 50, 50);
    line-height: 20px;
}

.right{
    float: right;
    clear: both;
    border-radius:10px 0px 10px 10px;
    background-color: #aeaaf0;
    transform-origin: bottom right;
}

.left, .chat-left{
    float: left;
    clear: both;
    /* margin-left: 20%; */
    border-radius:0 10px 10px 10px;
    background-color: rgb(240,240,240);
}


.chat-left{
    background-color: #ff9191;
}


.imgCont{
    padding: 5px;
    padding-top: 0;
    margin-bottom: 10px;
    max-width: 310px;
    border-radius: 10px;
    background-color: #aeaaf0;
    clear: both;
}


.imgCont img{
    width: 300px;
    border-radius: 7px;
}

#image-preview-cont{
    display: none;
    position: fixed;
    min-height: 300px;
    width: 310px;
    padding: 5px;
    padding-bottom: 0;
    bottom: 60px;
    left: 40%;
    border-radius: 10px;
    background-color: rgba(230, 230, 230, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transform-origin: bottom left;
    animation: apear .5s;
    z-index: 9;
}

#image-preview-cont button{ 
   height: 26px;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

#image-preview-cont img{
    align-self: center;
    justify-self: center;
    border-radius: 7px;
}

.temp{
    background-color: #858080;
}

#typing-status{
    display: none;
    position: fixed;
    bottom: 60px;
    font-size: 14px;
    margin: 0 auto;
    padding: 3px;
    border-radius: 5px;
    background-color: lightgrey;
    color: #404040;
   
}

#typing-status p{
    display: inline-block;
    margin-right: 5px;
}

#typing-status .loader{
    display: inline-block;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 25px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#0007 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}



@media screen and (max-width:1000px){

    #contacts{
        width: 40%;
    }

    #chat-area{
        width: 60%;
    }

    #chat-content{
        width: 100%;
    }

    .left{
        margin-left: 0;
    }

    #image-preview-cont{
        left: 48.5%;
    }

}

@media screen and (max-width:660px){

    #contacts{
       display: none;
    }
    #chat-area{
       width: 100%;
    }

   #image-preview-cont{
      height: calc(100vh - 54px);
      width: 100%;
      left: 0;
      bottom: 54px;
      border-radius: 0;
   }

   #image-preview-cont img{
    width: 100%;
   }

}
